---
{{ ansible_managed | comment }}
{% if promtail_server_config | length > 0 %}
server:
{{ promtail_server_config | to_nice_yaml | indent(2, true) }}
{% endif %}

# Positions
positions:
  filename: {{ promtail_data_dir }}/positions.yaml

# Loki Server URL
{% if promtail_clients_config | length > 0 %}
clients:
{{ promtail_clients_config | to_nice_yaml | indent(2, true) }}
{% endif %}

# Scrape configs
scrape_configs:
{% if promtail_config_include_default_file_sd_config | bool %}
  {{ promtail_config_default_file_sd_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
{% if promtail_scrape_config|length %}
  {{ promtail_scrape_config | to_nice_yaml(indent=2) | indent(2, False) }}
{% endif %}
